@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>DentClinic - Kayıt Ekranı</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/RegisterLogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/RegisterLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">

    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('/RegisterLogin/images/cover3.jpg');"></div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-50 p-b-50">
                <form class="login100-form validate-form" asp-action="Register" asp-controller="Account">
                    <span class="login100-form-title p-b-50">
                        DentClinic <br /> Kayıt Ekranı
                    </span>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" asp-for="UserName" type="text" name="username" placeholder="Kullanıcı Adınız...">
                        <span class="focus-input100" asp-validation-for="UserName"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" asp-for="Name" type="text" name="name" placeholder="Adnız...">
                        <span class="focus-input100" asp-validation-for="Name"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        @*<label class="label-input100" asp-for="Surname"></label>*@
                        <input class="input100" asp-for="Surname" type="text" name="surname" placeholder="Soyadınız...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        @*<label class="label-input100" asp-for="Email"></label>*@
                        <input class="input100" asp-for="Email" type="text" name="email" placeholder="E-Mail Adresiniz">
                        <span class="focus-input100" asp-validation-for="Email"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        @*<label class="label-input100" asp-for="Password"></label>*@
                        <input class="input100" asp-for="Password" type="password" name="password" placeholder="Şifreniz">
                        <span class="focus-input100" asp-validation-for="Password"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        @*<label class="label-input100" asp-for="Color"></label>*@
                        <input class="input100" asp-for="Color" name="color" placeholder="Kullanıcı Renginiz">
                        <span class="focus-input100" asp-validation-for="Color"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <label class="label-input100" asp-for="IsDentist"></label>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                        <input class="form-check-input" asp-for="IsDentist" type="checkbox" name="isDentist">
                        @*<span class="focus-input100" asp-validation-for="IsDentist"></span>*@
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Kayıt Ol
                            </button>
                        </div>

                        <a asp-controller="Account" asp-action="Login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                            Giriş Yap
                            <i class="fa fa-long-arrow-right m-l-5"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/RegisterLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/RegisterLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/RegisterLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/RegisterLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/RegisterLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/RegisterLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/RegisterLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/RegisterLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/RegisterLogin/js/main.js"></script>

</body>
</html>

