
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-md-6">
        <img src="~/RegisterLogin/images/cover.jpg">
    </div>
    <div class="col-md-6 mt-xl-5 p-3">
        <h1 class="display-1 text-center p-5">HATA</h1>
        <br /><h4 class="display-4 text-center">Lütfen Giriş Yapınız <br /> Veya Kayıt Olunuz</h4>
    </div>
</div>

